.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  letter-spacing: 2px;
}
.innerContainer {
  align-items: center;
  justify-content: center;
  width: 25%;
  box-shadow: rgba(128, 128, 128, 0.87) 2px 4px 10px 5px;
  padding: 1.5rem 1.5rem;
}
.details{
    color:rgb(35, 172, 252);
}
.displayDetails{
    text-align: center;
    margin-top: 2rem;
}

.heading {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}
.description {
  letter-spacing: 1px;
  font-size: medium;
}
input {
  display: block;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
  width: 97%;
  padding: 0.4rem 0.2rem;
  letter-spacing: 3px;
  border: none;
  background-color: none;
  border-bottom: 1px solid grey;
}
input:focus {
  outline: none;
  background-color: none;
}
.submitButton {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 5px;
  background-color: rgb(33, 33, 146);
  border: none;
  color: white;
  cursor: pointer;
  font-size: medium;
  letter-spacing: 3px;
}
.submitButton:hover {
  background-color: rgb(42, 42, 139);
}
